* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "satoshi-regular";
    src: url("/assets/Satoshi/Fonts/OTF/Satoshi-Regular.otf");
}

@font-face {
    font-family: "satoshi-bold";
    src: url("/assets/Satoshi/Fonts/OTF/Satoshi-Bold.otf");
}

@font-face {
    font-family: "satoshi-light";
    src: url("/assets/Satoshi/Fonts/OTF/Satoshi-Light.otf");
}

@font-face {
    font-family: "satoshi-medium";
    src: url("/assets/Satoshi/Fonts/OTF/Satoshi-Medium.otf");
}

.anchor_nav {
    padding: 30px 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anchor_logo {
    width: 127px;
    height: 25px;
}

.anchor_logo img {
    width: 100%;
    height: 100%;
}

.anchor_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anchor_list li a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

.anchor_list li:not(:first-child) {
    margin-left: 51px;
}

.anchor_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.anchor_buttons button {
    width: 154px;
    height: 60px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.anchor_login {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.anchor_start {
    background-color: #000000;
    border: none;
    color: white;
    margin-left: 8px;
}

.container {
    background-color: #000000;
    min-height: 751px;
    height: 100%;
    padding-left: 78px;
    padding-right: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchor_hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero_text {
    width: 50%;
}

.hero_text h1 {
    color: white;
    font-size: 68px;
    font-weight: 400;
    line-height: 81.6px;
}

.hero_text p {
    margin-top: 41px;
    font-size: 20px;
    line-height: 30px;
    color: white;
    opacity: 0.7;
    font-weight: 400;
}

.hero_text button {
    margin-top: 74px;
    width: 188px;
    height: 65px;
    padding: 20px 35px;
    background-color: white;
    border-radius: 8px;
    border: none;

}

.hero_text button a {
    color: #F5821E;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 13px;
}

.hero_img {
    width: 50%;
}

/* .hero_img img {
    width: 100%;
} */

.anchor_partners {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.anchor_img {
    position: absolute;
    left: 0;
    top: -58px;
    z-index: -50;
}

.anchor_partners p {
    text-align: center;
    font-size: 30px;
    color: #333333;
    opacity: 0.8;
}

.partner_logo {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: -ms-grid-columns;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    align-items: center;
    row-gap: 4rem;

}

.partner_logo div {
    margin: auto;
}

.outpost {
    width: 160.93px;
    height: 40px;
}

.outpost img {
    width: 100%;
    height: 100%;
}

.providus {
    width: 182px;
    height: 85px;
}

.providus img {
    width: 100%;
    height: 100%;
}

.partner {
    width: 40.19px;
    height: 50px;
}

.partner img {
    width: 100%;
    height: 100%;
}

.wema {
    width: 90.37px;
    height: 60px;
}

.wema img {
    width: 100%;
    height: 100%;
}

.penee {
    width: 155.24px;
    height: 40px;
}

.penee img {
    width: 100%;
    height: 100%;
}

.rex {
    width: 188.33px;
    height: 40px;
}

.rex img {
    width: 100%;
    height: 100%;
}

.curacel {
    width: 190px;
    height: 42px;
}

.curacel img {
    width: 100%;
    height: 100%;
}

.core {
    width: 109.26px;
    height: 40px;
}

.core img {
    width: 100%;
    height: 100%;
}

.p_logo {
    width: 31.61px;
    height: 40px;
}

.p_logo img {
    width: 100%;
    height: 100%;
}

.aza {
    width: 86.82px;
    height: 28.95px;
}

.aza img {
    width: 100%;
    height: 100%;
}

.anchor_solution {
    background: #F2F2F2;
    padding: 100px 78px;
}

.anchor_solution p {
    font-size: 16px;
    color: #333333;
    text-align: center;
}

.anchor_solution h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #333333;
}

.description {
    font-size: 20px !important;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}

.solution_img {
    position: relative;
    margin-top: 78px;
    z-index: 50;
}

.dashboard {
    width: 100%;
}

.second_anchor {
    position: absolute;
    right: -78px;
    bottom: -20px;
    z-index: -50;
}

.anchor_reason {
    padding: 100px 140px;
}

.why_anchor {
    text-align: center;
    font-family: "satoshi-medium";
    font-weight: 500;
    font-size: 14px;
    color: #333333;
}

.anchor_reason h3 {
    font-family: "satoshi-regular";
    font-weight: 400;
    font-size: 40px;
    margin: 30px 0;
    color: #333333;
    text-align: center;
}

.anchor_user {
    font-family: "satoshi-regular";
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #333333;
    font-weight: 400;
    max-width: 888px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.anchor_feature {
    margin-top: 100px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 150px;
    row-gap: 120px;
}

.feature_list {
    display: flex;
    /* align-items: center; */
}

.feature_img_tick {
    width: 70px;
    height: 70px;
}

.feature_img_tick img {
    width: 100%;
    height: 100%;
}

.feature_text {
    margin-left: 24px;
}

.feature_text h4 {
    font-size: 23px;
    font-family: "satoshi-regular";
    font-weight: 400;
    color: #333333;
}

.feature_text p {
    margin-top: 16px;
    font-family: 'satoshi-regular';
    font-size: 18px;
    line-height: 27px;
    color: #333333;
    font-weight: 400;
}

.feature_img_book {
    width: 55.54px;
    height: 70px;
}

.feature_img_book img {
    width: 100%;
    height: 100%;
}

.feature_img_plane {
    width: 66.72px;
    height: 70px;
}

.feature_img_plane img {
    width: 100%;
    height: 100%;
}

.anchor_access {
    margin-top: 100px;
}

.anchor_access h3 {
    max-width: 823px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    line-height: 48px;
    font-family: "satoshi-medium";
    font-weight: 500;
}

.specific {
    opacity: 0.7;
    max-width: 840px;
}

.anchor_slider {
    padding: 80px 0 80px 78px;
    background: #F2F2F2;

}

.slider {
    display: flex;
    align-items: center;
    width: 3576px;
    /* max-width: 100%; */
    /* overflow-x: scroll; */
}

.slider_card {
    /* max-width: 380px;
    min-height: 577px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: white; */
}



.slider_img {
    background: #E8ECED;
    max-height: 231px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.slider_img img {
    width: 100%;
}

.slider_container {
    padding: 56px 32px;

}

.slider_container h4 {
    font-family: 'satoshi-regular';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.48px;
    color: #212121;
}

.slider_container p {
    font-size: 18px;
    font-family: 'satoshi-regular';
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.32px;
    color: #212121;
    margin-top: 24px;
    margin-bottom: 31px;

}

.slider_container a {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.114);
    border-radius: 6px;
    width: 120px;
    height: 40px;
    padding: 10px 21px;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #212121;
}

.uk-section {
    background: #F2F2F2;
}

.owl-carousel {
    position: relative;
    /* margin-top: 30px; */
}

.owl-stage {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 5000px !important;
}

.owl-carousel.owl-drag .owl-item {
    margin-left: 16px !important;
}

.owl-carousel .owl-item {
    width: 380px !important;
    min-height: 577px !important;
    /* max-width: 100%; */
    /* height: 100%; */
    border-radius: 8px;
    background-color: white;
}

.owl-nav {
    /* position: absolute;
    top: -60px;
    left: 10px; */
}


h3 {
    margin-top: 10px
}


p {
    margin-top: 30px;
    margin-bottom: 0;
}

.owl-next {
    background: #3286f0;
}

.owl-theme .owl-nav {
    text-align: left !important;
    margin-top: 80px !important;
}

.owl-theme .owl-nav [class*='owl-'] {
    background: #F9F9F9 !important;
    padding: 15px 18px !important;

}

.owl-theme .owl-dots {
    display: none;
}

.remix_icon i {
    color: black;
}

.developer {
    background: black;
    padding: 100px 78px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.experience {
    font-family: 'satoshi-medium';
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.developer_bank h4 {
    font-size: 40px;
    font-family: 'satoshi-regular';
    color: #FFFFFF;
    font-weight: 400;
}

.developer_bank h4 span {
    font-size: 24px;
}

.hook {
    color: white;
    width: 568px;
    font-family: 'satoshi-regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
}

.line {
    width: 484.64px;
    border-top: 1px solid #AAAAAA;
    margin-top: 137px;
    margin-bottom: 16px;
}

.developer_bank a {
    font-size: 40px;
    color: #23D34C;
    text-decoration: none;
    font-weight: 400;
    font-family: 'satoshi-regular';
    display: flex;
    align-items: center;
}

.developer_bank a span {
    margin-left: 18px;
    font-size: 30px;
}

.fintech {
    font-size: 18px;
    font-family: 'satoshi-regular';
    font-weight: 400;
    color: white;
    margin-top: 19px;
}

.editor {
    width: 50%;
}

.editor img {
    width: 100%;
}

.case {
    font-size: 14px;
    font-family: 'satoshi-medium';
    color: #333333;
    font-weight: 500;
    text-align: center;
}

.anchor_future {
    padding: 180px 78px 104.5px 78px;
}

.anchor_future h4 {
    margin: 30px auto 30px auto;
    text-align: center;
    color: #333333;
    font-size: 40px;
    line-height: 48px;
    font-family: 'satoshi-medium';
    font-weight: 500;
    width: 764px;
}

.deep {
    font-family: 'satoshi-regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #333333;
    opacity: 0.7;
    width: 840px;
    margin-left: auto;
    margin-right: auto;
}

.future_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 70px 0;
}

.future_button button {
    padding: 10px 20px;
    background: #E8ECED;
    color: #333333;
    border-radius: 9px;
    font-family: 'satoshi-regular';
    font-weight: 400;
    font-size: 21px;
    border: none;
}

.active_button {
    background: #F5821E !important;
    color: white !important;
}

.future_button button:not(:first-child) {
    margin-left: 30px;
}

.anchor_news {
    background: rgba(245, 130, 30, 0.05);
    box-shadow: 2px 4px 40px rgba(128, 128, 128, 0.1);
    border-radius: 20px 20px 20px 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.phone {
    width: 40%;
}

.phone img {
    width: 100%;
}

.fingo {
    width: 50%;
}

.fingo h5 {
    font-family: 'satoshi-regular';
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    text-shadow: 2px 4px 40px rgba(128, 128, 128, 0.1);
}

.fingo h5:not(:first-child) {
    margin-top: 32px;
    margin-bottom: 30px;
}

.fingo_button {
    display: flex;
    align-items: center;

}

.fingo_button:not(:first-child) {
    margin-top: 20px;
}

.fingo_button button {
    background: #FFF9F3;
    box-shadow: 2px 4px 40px rgba(128, 128, 128, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'satoshi-regular';
    font-weight: 400;
    font-size: 21px;
    color: #000000;
    border: none;
    cursor: pointer;
}

.select {
    background: #F4E9E9 !important;
}

.fingo_button button:not(:first-child) {
    margin-left: 55px;
}

.recieve {
    background: #FBF5FF !important;
}

.fingo p {
    margin-top: 30px;
    font-family: 'satoshi-regular';
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #333333;
    text-shadow: 2px 4px 40px rgba(128, 128, 128, 0.1);
}

.expansion {
    margin-top: 100px;
}

.expansion h5 {
    font-family: 'satoshi-regular';
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #333333;
    width: 777px;
    margin-left: auto;
    margin-right: auto;
}

.expansion p {
    margin: 30px auto 104.5px auto;
    font-size: 20px;
    font-weight: 400;
    color: #333333;
    line-height: 30px;
    opacity: 0.7;
    font-family: 'satoshi-regular';
    text-align: center;
    width: 765px;
}

.expansion div {
    text-align: center;
}

.expansion a {
    color: #F5821E;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'satoshi-regular';
    font-weight: 400;
}

.expansion a span {
    margin-left: 8px;
}

.anchor_footer {
    padding: 98px 269px 98px 69.99px;
    background-color: black;
}

.footer_features {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.policy h6 {
    font-family: 'satoshi-medium';
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.policy div {
    width: 120.01px;
    border: 1px solid #333333;
    margin-top: 19px;
    margin-bottom: 20px;
}

.policy p:not(:first-child) {
    margin-top: 20px;
}

.policy p a {
    font-size: 20px;
    font-weight: 400;
    font-family: 'satoshi-regular';
    font-size: 16px;
    color: white;
    opacity: 0.9;
    text-decoration: none;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none !important;
    width: 100% !important;
    margin-top: 30px !important;
    margin-bottom: 0 !important;

}

.social_icons div {
    border: none !important;
    width: 30px !important;
    height: 30px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.social_icons div:not(:first-child) {
    margin-left: 24px;
}

.social_icons div a {
    text-decoration: none;
}

.social_icons div a img {
    width: 100%;
    height: 100%;
}

.copyright {
    font-family: 'satoshi-regular';
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 70px;
}

.licence {
    margin-top: 88px;
    font-family: 'satoshi-regular';
    font-size: 16px;
    font-weight: 400;
    color: white;
    letter-spacing: 0.32px;
    width: 766px;
}